@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* Cores */
  --color-primary: #FFE700;
  --color-primary-hover: #574fd6;
  --color-danger: #e74c3c;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
  --color-surface2: #f5f0e8;
  --color-text-primary: #202020;
  --color-text-secondary: #4D4D4D;
  --color-text_onDark: #ffffff;
  --color-text-secondary_onDark: #A09F9B;
  --color-text-muted: #666666;
  --color-border: #e0e0e0;
  --color-background-alt: #f5f0e8;
  --color-button-primary: #141414;
  --color-button-primary-hover: #2a2a2a;

  /* Espaçamentos */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --container-max: 1280px;

  /* Bordas */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;

  /* Tipografia */
  --font-family-heading: 'Manrope', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}