.btn {
  font-family: var(--font-family-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 999px;
  font-size: var(--font-md);
  font-weight: 600;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  box-shadow: none;
  
}

.btn--primary {
  background-color: var(--color-button-primary);
  box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.35);
  color: white;
}

.btn--primary:hover {
  background-color: var(--color-button-primary-hover);
}

.btn--outline {
  background-color: transparent;
  color: var(--color-text_onDark);
  border: 1px solid white;
}

.btn--outline:hover {
  background-color: var(--color-primary);
  color: white;
}

